body,
html {
  padding: 0;
  margin: 0;
}
.app {
  width: 550px;
  margin: auto;
  max-width: 100%;
  border: 3px solid;
  padding: 0 2rem 2rem 2rem;
  margin-top: 2rem;
  background-color: whitesmoke;
}
.wish-input {
  border: 0;
  border-bottom: 3px dashed gray;
}
.wish-input__label {
  font-weight: 700;
}
.wish-input__field {
  width: 93%;
  border: 2 solid;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: transparent;
  border-radius: 4px;
}
.wish-list {
  list-style: none;
  padding: 0;
}
.wish-list__item {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}

.wish-list__item > * + * {
  margin-left: 0.2rem;
}
.wish-list__item input {
  width: 1.2rem;
  height: 1.2rem;
}
.wish-list__item--done label {
  text-decoration: line-through;
}
.wish-clear {
  width: 100%;
  padding: 0.5rem;
  background: white;
  font-size: 1.2rem;
  border: 1px solid grey;
  border-radius: 3px;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
